body {
    height: 100%;
    background: #fff;
    -webkit-background-size: 100% 100%;
    overflow: hidden;
    margin: 0 0 0 0;
}

html {
    height: 100%;
}

.bg {
    background-image: url("https://djmemo.github.io/ElitRP-loadingscreen/img/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}